<ion-header>
  <ion-toolbar>
    <ion-title>
      Hello, Friend!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div class="ion-padding">
        <h2>Welcome!</h2>
      </div>
    </ion-row>


    <ion-row class="ion-justify-content-center">
      <h3>Premissas</h3>
      <ion-col size="7">
        <ul>
          <li>Cadastro / Login Facebook e carregar grupos e/ou demais assuntos do interesse</li>
          <li>Função LFG / DF de acordo com o tipo/classe do usuário</li>
          <li>Bate papo</li>
          <li>Recomendação de local para encontro</li>
          <li>Cupom para primeiros usuários?</li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="grupos">
        <ion-icon name="people"></ion-icon>
        <ion-label>Grupos</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="calendario">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendário</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>